body {
    margin: 60px !important;
    width: 90% !important;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif' !important;
    padding: 0px !important;
    list-style: none !important;
    font-weight: bold !important;
}
nav ul li, footer ul li {
    display: inline !important;
    margin-right: 20px !important;
}
h1 {
    font-size: 3em !important;
    font-family:'Helvetica', 'Arial', 'Sans-Serif' !important;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #d5d5d5 !important;
    font-size: .8em !important;
}

ul.articles { 
    margin: 20px auto 40px !important; 
    font-size: 1.5em !important;
}

ul.articles li {
    list-style: none !important;
}

table {
    margin: 4px !important;
    padding: 4px !important;
    border-bottom: 1px solid black !important;
}

th {
    margin: 4px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    border-bottom: 1px solid black !important;
}
td {
    margin: 4px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 3px !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
table tbody > tr:hover > td,
table > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
p {
    padding-top: 6px;
}