<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jakewalker@chicagobooth..com">email</a></li>
	        		<li><a href="https://www.linkedin.com/profile/view?id=ADEAAAO9G-UBJGP2X5jmPZJNiq7qKvzJvs7r0AQ">linkedin</a></li>
	        		<li><a href="https://github.com/jakewalker56">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
